<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>Something wrong when pass your requist!Please try it again.</h2>
    </hgroup>
</body>
</html>
